extends layouts/main
include mixins/videoBlock 

block content
    .videos
        for video in videos
            +videoBlock({
                title:video.title,
                videoFile:video.videoFile,
                views:video.views
            })