extends layouts/main

block content 
    .form-container
        form(action=`/users/${routes.editProfile}`, method="post", enctype="multipart/form-data")
            label(for="avatar")
            input(type="file", id="avatar", name="avatar")
            input(type="text", name="name", placeholder="Full name", value=loggedUser.name)
            input(type="email", name="email", placeholder="Email", value=loggedUser.email)
            input(type="submit",value="Edit Profile")  